* {
  --login-top-color: #ea910f;
  --login-bottom-color: #2f2e41;
  --input-back: #eee;
}
.login-top {
  background-color: var(--login-top-color);
  width: 12.1875rem;
  height: 4.4375rem;

  border-bottom-right-radius: 4rem;
}

.login-bottom {
  width: 12.1875rem;
  height: 4.4375rem;
  border-top-left-radius: 4rem;
  background-color: var(--login-bottom-color);
  position: fixed;
  top: 90%;
  left: 48%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-title {
  font-size: 35px;
  text-align: start;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.label-input {
  margin: 1rem;
  text-align: left;
  margin-left: 3rem;
  font-size: 20px;
}

.login-input {
  display: block;
  width: 60vw;
  height: 3vh;
  background-color: var(--input-back);
}

.login-button {
  width: 40vw;
  height: 4vh;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--login-top-color);
  color: var(--login-bottom-color);
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: bold;
}
.login-image {
  width: 52%;

  margin: 1rem;
}

input:focus:invalid {
  background: lightpink;
}

@media only screen and (min-width: 768px) {
  .login-image {
    width: 30%;
    height: 30vh;
  }
  .login-top {
    width: 30vw;
    height: 12vh;
  }
  .login-bottom {
    width: 30vw;
    height: 12vh;
    left: 75%;
  }
  .login-input {
    width: 35vw;
    height: 3vh;
  }
  .login-form {
    margin-left: 5rem;
  }
  .login-button {
    width: 30vw;
    margin-left: 3rem;
    margin-top: 2.5rem;
  }
}
