.wholeCart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cartProduct {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding: 0.9rem;
  background-color: var(--card-background);
}

.cartProduct-image {
  width: 30vw;
  height: 20vh;
}

.cartProduct-name {
  font-weight: bolder;
  text-align: unset;
  margin-left: 0.2rem;
}

.cartProduct-brand {
  font-weight: bold;
  text-align: unset;
  text-transform: capitalize;
  margin: 0.4rem;
}
.cartProduct-quantity {
  font-weight: bold;
  text-align: unset;
  text-transform: capitalize;
  margin: 0.4rem;
}

@media only screen and (min-width: 768px) {
  .cartProduct-image {
    width: 15vw;
    height: 20vh;
  }
  .cartProduct-name,
  .cartProduct-quantity,
  .cartProduct-brand {
    margin-left: 2rem;
  }
  .cartProduct {
    width: 40vw;
  }
  .wholeCart {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }
}
