.filter-main {
  width: 100vw;
  height: 70vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.filter-option-cont {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  justify-content: center;
  align-content: space-between;
  height: 50vh;
  width: 30vw;
}

.filter-option {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.02rem solid black;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.filter-list {
  position: fixed;
  overflow-y: scroll;
  top: 12.8%;
  left: 25%;
  margin: 2.5rem;
  border: 0.02rem solid black;
  width: 60vw;
  height: 55vh;
}
.filter-list-item {
  margin: 0.5rem;
  font-style: italic;
  border: 0.02rem solid black;
  padding: 1rem;
  text-align: left;
}

.btn-apply {
  font-size: large;
  color: var(--card-background);
  background-color: var(--button-background);
  font-weight: bolder;
  width: 50%;
  border-style: solid;
  position: fixed;
  bottom: 0%;
  z-index: 3;
  right: 0%;
}
.btn-clear {
  font-size: large;
  color: var(--card-background);
  background-color: var(--button-background);
  font-weight: bolder;
  width: 50%;
  border-style: solid;
  position: fixed;
  bottom: 0%;
  z-index: 3;
  left: 0%;
}

@media only screen and (min-width: 768px) {
  .filter-list {
    left: 30%;
  }
}
