.about-section {
  border: 0.2rem solid;
}

.about-paragraph {
  padding: 0.5rem;
  margin: 0.5rem;
}

.about-title {
  padding: 0.5rem;
  margin: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .about-section {
    max-width: 50vw;
    text-align: center;
    margin: auto;
    height: 30vh;
  }
}
