:root {
  --featured-background: #2f2e41;
  --button-background: #ea9210;
}

.featured-section {
  border: 0.2rem solid;
  border-color: var(--featured-background);
  background-color: var(--featured-background);
}
.featured-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.featured-image {
  width: 101px;
  height: 112px;
}

.featured-title {
  color: var(--text-color);
}

.featured-btn {
  margin: 1rem;
  padding: 0.8rem;
  background-color: var(--image-background);
  border-radius: 0.3rem;
  font-weight: bolder;
  color: var(--text-color);
}

.featured-btn:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .featured-image {
    width: 250px;
    height: 250px;
  }
}
