:root {
  --nav-background: #2f2e41;
  --text-color: #fff;
}

.link {
  color: var(--text-color);
}
.link:hover {
  cursor: pointer;
}

.navbar {
  width: 98.8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--nav-background);
}

.nav-title {
  font-size: large;
  margin: 0.8rem 0 0 0.8rem;
  padding: 0.8rem;
  color: var(--text-color);
  font-family: "Pacifico", cursive;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.nav-list-item {
  margin-left: 0.2rem;
  padding: 0.2rem;
  margin-top: 0.8rem;
  color: var(--text-color);
  font-size: large;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 0.6rem;
  padding: 0.2rem;
  z-index: 1;
  background-color: var(--nav-background);
}

.dropdown:hover .dropdown-content {
  display: block;
}
