:root {
  --image-background: #ea910f;
}

.carousel-image {
  width: 60vw;
  height: 45vh;
}

.image-container {
  background-color: var(--image-background);
}

@media only screen and (min-width: 768px) {
  .carousel-image {
    height: 55vh;
    width: 40vw;
  }
}
