.footer {
  background-color: var(--nav-background);
}

.footer-links {
  color: var(--text-color);
  font-size: large;
  font-weight: bolder;
  margin: 0.15rem;
  padding: 0.15rem;
}
.footer-links {
  cursor: pointer;
}
.footer-subtitle {
  color: var(--text-color);
  margin: 0.15rem;
}

.footer-title {
  font-size: large;
  margin: 0.2rem 0 0 0.2rem;
  padding: 0.8rem;
  color: var(--text-color);
  font-family: "Pacifico", cursive;
}
.footer-icons-container {
  color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.footer-icons {
  margin: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .footer-icons-container {
    max-width: 60vw;
    margin: auto;
  }
}
