.prod-img {
  width: 80vw;
  height: 50vh;
  border-radius: 0.8rem;
}

.primary-button {
  margin: 0.8rem;
  background: var(--button-background);
  color: white;
  font-size: 0.7rem;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 0 0.5rem;

  letter-spacing: 0.06rem;

  transition: all 0.2s ease;
  border-radius: 0.5rem;
}

.secondary-button {
  background: white;
  color: black;
  font-size: 0.7rem;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
  text-align: center;
  display: inline;
  padding: 0 1.25rem;
  letter-spacing: 0.06rem;
  transition: all 0.2s ease;
  border-radius: 0.5rem;
}
.description {
  border: 0.02rem black;
  border-style: solid;
  padding: 0.3rem;
  margin: 0.3rem;
}
@media only screen and (min-width: 768px) {
  .prod-img {
    margin: auto;
    display: block;
    width: 40vw;
    height: 65vh;
  }

  .primary-button {
    font-size: 1.5rem;
  }
  .secondary-button {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.5rem;
    max-width: 65vw;
    margin: auto;
  }
  .reviews,
  .price,
  .category {
    font-size: 1.2rem;
  }
}
