:root {
  --button-background: #2f2e41;
  --card-background: whitesmoke;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
  margin-bottom: 2rem;
}

.long-cards {
  margin: 0.5rem;
  padding: 0.6rem;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 10rem;
  height: max-content;
}

.long-cards img {
  padding: 0.1rem;
  width: 100%;
  min-width: 10rem;
  height: 60%;
}

.card-text {
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}
.card-text-sub {
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  font-weight: bolder;
}
.card-btn-container {
  padding: 0.2rem;
  margin: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.card-button {
  margin: 0.5rem;
  border: none;
  color: var(--button-background);
}

.products-link {
  text-decoration: none;
  color: var(--button-background);
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0%;
  z-index: 3;
  justify-content: space-evenly;
  width: 100vw;
  border-style: solid;
  border-width: 0.3rem;
  background-color: var(--button-background);
}

.bottom-bar-option {
  font-size: large;
  color: var(--card-background);
  font-weight: bolder;
  width: 100%;
  border-style: solid;
}
.sort-list {
  z-index: 4;
  display: block;
  position: fixed;
  font-weight: bolder;
  left: 0;
  bottom: 6%;
  text-align: center;
  width: 25vh;
  background-color: var(--card-background);
}
.sort-list-item {
  margin: 0.3rem;
}

.added {
  font-weight: bolder;
  font-size: large;
  color: green;
  margin: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .long-cards {
    width: auto;
    min-width: 5rem;
  }
  .sort-list {
    width: 50vw;
  }
}
